<!DOCTYPE html>
<html>

<head>
    <title>{$node.node_title}</title>
    {include file="common/header"/}

    <el-form :inline="true" @submit.native.prevent>
        <el-form-item>
            <el-button icon="el-icon-plus" size="small" @click="clickAdd" plain>添加资源</el-button>
            <el-button icon="el-icon-delete" size="small" @click="postMultDelete" plain>批量删除</el-button>
            <el-button icon="el-icon-document-copy" size="small" @click="getExport" plain>导出资源</el-button>
            <el-button icon="el-icon-plus" size="small" @click="ImportShow" plain>夸克导入专用</el-button>
            <el-button icon="el-icon-plus" size="small" @click="ImportBatch" plain>批量导入</el-button>
        </el-form-item>
        <div style="float:right">
            <el-form-item style="width:120px;">
                <el-select size="small" v-model="search.source_category_id" placeholder="筛选分类">
                    <el-option v-for="item in category" :key="item.source_category_id" :label="item.name" :value="item.source_category_id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-input placeholder="输入关键词搜索" size="small" v-model="search.keyword" @keyup.enter.native="getList_search"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-search" size="small" @click="getList_search" plain>搜索
                </el-button>
                <el-button icon="el-icon-refresh-left" size="small" @click="getList_search(0)" plain>重置</el-button>
            </el-form-item>
        </div>
    </el-form>
    <el-table :data="dataList.data" @selection-change="changeSelection"  v-loading="loading">
        <el-table-column type="selection" width="50">
        </el-table-column>
        <el-table-column prop="source_id" label="ID" width="80">
        </el-table-column>
        <el-table-column prop="title" label="资源名称">
        </el-table-column>
        <el-table-column prop="source_category_id_name" label="资源分类">
        </el-table-column>
        <el-table-column prop="url" label="资源地址" align="center">
        </el-table-column>
        <el-table-column prop="create_time" label="入库时间" align="center" width="200">
        </el-table-column>
        <el-table-column prop="update_time" label="更新时间" align="center" width="200">
        </el-table-column>
        <el-table-column label="操作" width="180" align="center">
            <template slot-scope="scope">
                <div class="order-text">
                    <p>
                        <el-link type="success" @click="clickEdit(scope.row)" :underline="false">编辑</el-link>
                    </p>
                    <p>
                        <el-link type="danger" @click="clickDelete(scope.row)" :underline="false">删除</el-link>
                    </p>
                </div>
            </template>
        </el-table-column>

    </el-table>


    <div class="page">
        <el-pagination @size-change="handleSizeChange" :page-sizes="[10, 20, 50, 100,200,500]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" background @current-change="changeCurrentPage"
            :current-page="dataList.current_page" :page-count="dataList.last_page" :total="dataList.total">
        </el-pagination>
    </div>


    <!-- 添加框 -->
    <el-dialog title="添加资源" :visible.sync="dialogFormAdd" :modal-append-to-body='false' append-to-body
        :close-on-click-modal='false' width="680px">
        <el-form :model="formAdd" :rules="rules" ref="formAdd">
            <el-form-item prop="source_category_id" label="资源分类" :label-width="formLabelWidth">
                <el-select size="medium" v-model="formAdd.source_category_id" placeholder="请选择分类">
                    <el-option v-for="item in category" :key="item.source_category_id" :label="item.name" :value="item.source_category_id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="title" label="资源名称" :label-width="formLabelWidth">
                <el-input size="medium" autocomplete="off" placeholder="请输入资源名称" v-model="formAdd.title"></el-input>
            </el-form-item>
            <el-form-item prop="url" label="资源地址" :label-width="formLabelWidth">
                <el-input size="medium" autocomplete="off" placeholder="请输入资源地址" v-model="formAdd.url"></el-input>
            </el-form-item>
            <el-form-item label="关键词搜索" :label-width="formLabelWidth">
                <el-input type="textarea" :rows="5" size="medium" autocomplete="off" placeholder="一行一个名称" v-model="formAdd.description"></el-input>
            </el-form-item>
            <el-form-item label="资源介绍" :label-width="formLabelWidth">
                <el-input type="textarea" :rows="5" size="medium" autocomplete="off" placeholder="" v-model="formAdd.vod_content"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="postAdd()">确认添加</el-button>
        </div>
    </el-dialog>
    <!-- 修改框 -->
    <el-dialog title="修改资源" :visible.sync="dialogFormEdit" :modal-append-to-body='false' append-to-body
        :close-on-click-modal='false' width="680px">
        <el-form :model="formEdit" :rules="rules" ref="formEdit">
            <el-form-item prop="source_category_id" label="资源分类" :label-width="formLabelWidth">
                <el-select size="medium" v-model="formEdit.source_category_id" placeholder="请选择分类" clearable>
                    <el-option v-for="item in category" :key="item.source_category_id" :label="item.name"
                        :value="item.source_category_id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="title" label="资源名称" :label-width="formLabelWidth">
                <el-input size="medium" autocomplete="off" placeholder="请输入资源名称" v-model="formEdit.title"></el-input>
            </el-form-item>
            <el-form-item prop="url" label="资源地址" :label-width="formLabelWidth">
                <el-input size="medium" autocomplete="off" placeholder="请输入资源地址" v-model="formEdit.url"></el-input>
            </el-form-item>
            <el-form-item label="关键词搜索" :label-width="formLabelWidth">
                <el-input type="textarea" :rows="5" size="medium" autocomplete="off" placeholder="一行一个名称" v-model="formEdit.description"></el-input>
            </el-form-item>
            <el-form-item label="资源介绍" :label-width="formLabelWidth">
                <el-input type="textarea" :rows="5" size="medium" autocomplete="off" placeholder="" v-model="formEdit.vod_content"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="postEdit()">确认修改</el-button>
        </div>
    </el-dialog>
    
    <!-- 夸克导入数据 -->
    <el-dialog title="导入资源" :visible.sync="dialogImport" :modal-append-to-body='false' append-to-body
        :close-on-click-modal='false' width="600px">
        <el-form :model="Importform">
            <el-form-item prop="source_category_id" label="资源分类"  label-width="90px">
                <el-select size="medium" v-model="Importform.source_category_id" placeholder="请选择分类" clearable>
                    <el-option v-for="item in category" :key="item.source_category_id" :label="item.name"
                        :value="item.source_category_id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label=""  label-width="90px">
                <el-upload class="upload-demo" :data="Importform" name="file" 
                ref="ImportUpload"
                drag 
                :auto-upload="false"
                limit="1"
                :on-exceed="handleExceed"
                :on-success="handleAvatarSuccess"
                action="/admin/source/imports" 
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                </el-upload>
                <span style="color: #999;">请使用xlsx格式，第一列资源名称 第二列资源地址</span>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="ImportPost()">提交</el-button>
        </div>
    </el-dialog>
    
    <!-- 批量导入数据 -->
    <el-dialog title="导入资源" :visible.sync="dialogBatch" :modal-append-to-body='false' append-to-body
        :close-on-click-modal='false' width="790px">
        <el-form :model="Batchform">
            <el-form-item prop="type" label="选择方式"  label-width="70px">
                <el-radio-group v-model="Batchform.type">
                  <el-radio-button :label="1">直接导入</el-radio-button>
                  <el-radio-button :label="2">转存分享导入</el-radio-button>
                </el-radio-group>
                <p style="color: #999;" v-if='Batchform.type==1'>直接导入：链接校验有效后直接入库；Tips：该功能不会检测是否重复；</p>
                <p style="color: #999;" v-else-if='Batchform.type==2'>将资源转存到自己网盘后分享入库（<font color=orangered>此功能仅支持夸克</font>）Tips：该功能不会检测是否重复；</p>
                <span style="color: #999;" v-if='Batchform.type==1'>支持<font color=orangered>夸克、阿里、UC</font>的网盘资源(一次最多可以上传500条资源)</span>
                <span style="color: #999;" v-else-if='Batchform.type==2'>目前仅支持<font color=orangered>夸克</font>的网盘资源(一次最多可以上传500条资源)</span>
            </el-form-item>
            <el-form-item prop="source_category_id" label="资源分类" label-width="70px" v-if="Batchform.type">
                <el-select size="medium" v-model="Batchform.source_category_id" placeholder="请选择分类" clearable>
                    <el-option v-for="item in category" :key="item.source_category_id" :label="item.name"
                        :value="item.source_category_id">
                    </el-option>
                </el-select>
                
            </el-form-item>
            
            <el-form-item prop="urls" label="资源分类" label-width="70px" v-if="Batchform.type">
                <el-input
                  type="textarea"
                  placeholder="资源示例：
一条资源一行
https://pan.quark.cn/s/xxxxxxxx
https://www.alipan.com/s/xxxxxxxxx
https://drive.uc.cn/s/xxxxxxxxxxx"
                  v-model="Batchform.urls"
                  rows="20"
                  show-word-limit
                >
                </el-input>
            </el-form-item>
            
  
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="BatchPost()">提交</el-button>
        </div>
    </el-dialog>

    {include file="common/footer"/}
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    search: {
                        keyword: "",
                        filter: "title",
                        source_category_id: ''
                    },
                    formLabelWidth: '120px',
                    dialogFormAdd: false,
                    dialogFormEdit: false,
                    loading: true,
                    selectList: [],
                    dataList: [],
                    form: {
                        page: 1,
                        per_page: 10,
                        order: 'create_time desc'
                    },
                    formAdd: {
                    },
                    formEdit: {
                    },
                    rules: {
                        title: [{ required: true, message: '请输入资源名称', trigger: 'blur' }],
                        url: [{ required: true, message: '请输入资源地址', trigger: 'blur' }],
                    },
                    dialogImport: false,
                    Importform: {
                        
                    },

                    category: [],
                    
                    dialogBatch: false,
                    Batchform: {},
                }
            },
            created() {
                this.getcategory();
            },
            methods: {
                getList_search(val) {
                    if (val == 0) {
                        this.search = {
                            keyword: "",
                            filter: "title",
                            source_category_id: ''
                        }
                    }
                    this.form.page = 1;
                    this.getList();
                },
                handleSizeChange(per_page) {
                    this.form.per_page = per_page;
                    this.getList();
                },
                postEdit() {
                    var that = this;
                    that.$refs["formEdit"].validate((valid) => {
                        if (valid) {
                            axios.post('/admin/source/update', Object.assign({}, PostBase, that.formEdit))
                                .then(function (response) {
                                    that.getList();
                                    if (response.data.code == CODE_SUCCESS) {
                                        that.$message({
                                            message: response.data.message,
                                            type: 'success'
                                        });
                                        that.dialogFormEdit = false;
                                    } else {
                                        that.$message.error(response.data.message);
                                    }
                                })
                                .catch(function (error) {
                                    that.$message.error('服务器内部错误');
                                    console.log(error);
                                });
                        }
                    });
                },
                postAdd() {
                    var that = this;
                    that.$refs['formAdd'].validate((valid) => {
                        if (valid) {
                            axios.post('/admin/source/add', Object.assign({}, PostBase, that.formAdd))
                                .then(function (response) {
                                    that.getList();
                                    if (response.data.code == CODE_SUCCESS) {
                                        that.$message({
                                            message: response.data.message,
                                            type: 'success'
                                        });
                                        that.dialogFormAdd = false;
                                    } else {
                                        that.$message.error(response.data.message);
                                    }
                                })
                                .catch(function (error) {
                                    that.$message.error('服务器内部错误');
                                });
                        }
                    });
                },
                clickAdd() {
                    var that = this;
                    that.formAdd = { status: 1, share_image: '' };
                    that.dialogFormAdd = true;
                },
                clickDelete(row) {
                    var that = this;
                    this.$confirm('删除后，资源将无法查看，是否继续删除?', '删除提醒', {
                        confirmButtonText: '删除',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post('/admin/source/delete', Object.assign({}, PostBase, {
                            source_id: row.source_id
                        }))
                            .then(function (response) {
                                that.getList();
                                if (response.data.code == CODE_SUCCESS) {
                                    that.$message({
                                        message: response.data.message,
                                        type: 'success'
                                    });
                                } else {
                                    that.$message.error(response.data.message);
                                }
                            })
                            .catch(function (error) {
                                that.$message.error('服务器内部错误');
                            });
                    }).catch(() => {
                    });
                },
                clickEdit(row) {
                    var that = this;
                    that.formEdit = row;
                    axios.post('/admin/source/detail', Object.assign({}, PostBase, {
                        source_id: row.source_id
                    }))
                        .then(function (response) {
                            if (response.data.code == CODE_SUCCESS) {
                                response.data.data.source_category_id = response.data.data.source_category_id || undefined
                                that.formEdit = response.data.data;
                                that.dialogFormEdit = true;
                            } else {
                                that.$message.error(response.data.message);
                            }
                        })
                        .catch(function (error) {
                            that.$message.error('服务器内部错误');
                        });
                },
                changeCurrentPage(page) {
                    this.form.page = page;
                    this.getList();
                },
                getcategory(){
                    var that = this;
                    axios.post('/admin/source_category/getList', Object.assign({}, PostBase))
                        .then(function (response) {
                            that.loading = false;
                            if (response.data.code == CODE_SUCCESS) {
                                that.category = response.data.data;
                                that.getList();
                            } else {
                                that.$message.error(response.data.message);
                            }
                        })
                        .catch(function (error) {
                            that.loading = false;
                            that.$message.error('服务器内部错误');
                            console.log(error);
                        });
                },
                getList() {
                    var that = this;
                    that.loading = true;
                    axios.post('/admin/source/getList', Object.assign({}, PostBase, that.form, that.search))
                        .then(function (response) {
                            that.loading = false;
                            if (response.data.code == CODE_SUCCESS) {
                                that.dataList = response.data.data;
                                that.setcategory()
                            } else {
                                that.$message.error(response.data.message);
                            }
                        })
                        .catch(function (error) {
                            that.loading = false;
                            that.$message.error('服务器内部错误');
                        });
                },
                setcategory(){
                    for (let item of this.dataList.data) {
                        for (let items of this.category) {
                            if(item.source_category_id == items.source_category_id){
                                item.source_category_id_name = items.name
                            }
                        }
                    }
                },
                
                //导入数据
                ImportShow() {
                    this.Importform = {
                    }
                    this.dialogImport = true
                },
                handleExceed(files, fileList) {
                    this.$message.warning(`只能选择一个文件`);
                },
                handleAvatarSuccess(res, file) {
                    if (res.code == 200) {
                        this.getList();
                        this.$message({
                            message: res.message,
                            type: 'success'
                        });
                        this.dialogImport = false;
                    } else {
                        this.$message.error(res.message);
                    }
                    this.$refs.ImportUpload.clearFiles();
                },
                ImportPost(){
                    this.Importform = Object.assign(this.Importform, PostBase)
                    this.$nextTick(() => {
                        this.$refs.ImportUpload.submit();
                    })
                },
                
                //批量导入数据
                ImportBatch() {
                    this.Batchform = {}
                    this.dialogBatch = true
                },
                BatchPost(){
                    var that = this;
                    if(!that.Batchform.type) return that.$message.error('请选择导入方式');
                    if(!that.Batchform.urls) return that.$message.error('请输入资源地址');
                    axios.post('/admin/source/transfer', Object.assign({}, PostBase, that.Batchform))
                        .then(function (res) {
                        })
                        .catch(function (error) {
                            that.$message.error('服务器内部错误');
                        });
                    that.$message({
                        message: "已提交任务，稍后查看结果",
                        type: 'success'
                    });
                },
                

                //数据导出
                getExport(){
                    var that = this;
                    var filters = Object.assign({}, PostBase, that.search);
                    var url = '/admin/source/excel?';
                    for (let key in filters) {
                        url += key + "=" + filters[key] + "&";
                    }
                    window.open(url);
                    that.$message.success('数据导出成功');
                },


                postMultDelete() {
                    var that = this;
                    if (that.selectList.length == 0) {
                        that.$message.error('未选择任何资源！');
                        return;
                    }
                    this.$confirm('即将删除选中的资源, 是否确认?', '批量删除', {
                        confirmButtonText: '删除',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.post('/admin/source/delete', Object.assign({}, PostBase, {
                            source_id: that.selectList.join(",")
                        }))
                            .then(function (response) {
                                that.getList();
                                if (response.data.code == CODE_SUCCESS) {
                                    that.$message({
                                        message: response.data.message,
                                        type: 'success'
                                    });
                                } else {
                                    that.$message.error(response.data.message);
                                }
                            })
                            .catch(function (error) {
                                that.$message.error('服务器内部错误');
                                console.log(error);
                            });
                    }).catch(() => {
                    });
                },
                changeSelection(list) {
                    var that = this;
                    that.selectList = [];
                    for (var index in list) {
                        that.selectList.push(list[index].source_id);
                    }
                },
            }
        })
    </script>


</html>