<meta charset="UTF-8">
<!-- import CSS -->
<link rel="stylesheet" href="/static/admin/css/element.css">
<link rel="stylesheet" href="/static/admin/css/YAdmin.css">
</head>

<body>
    <div id="app" v-cloak>
        <el-container>
            <el-header>
                <el-col style="width: auto;">
                    <el-menu class="el-menu-vertical" text-color="#333333" :default-active="'{if condition="$node.node_pid"}{$node.node_pid}{else}{$node.node_id}{/if}'" unique-opened
                        style="border:none;" mode="horizontal" active-text-color="#333333">
                        {volist name="menuList" id="item"}
                        {if condition="count($item.subList)>0"}
                        {if condition="count($item.subList[0]['subList'])>0"}
                        <el-menu-item index="{$item.node_id}"
                            onclick="location.href='/{$item['subList'][0]['subList'][0]['node_module']}/{$item['subList'][0]['subList'][0]['node_controller']}/{$item['subList'][0]['subList'][0]['node_action']}';"
                            {if
                            condition="$menu==$item.node_id"
                            }class="is-active" {/if}>
                            <i class="{$item.node_icon}"></i> {$item.node_title}
                        </el-menu-item>
                        {else}
                        <el-menu-item index="{$item.node_id}"
                            onclick="location.href='/{$item['subList'][0]['node_module']}/{$item['subList'][0]['node_controller']}/{$item['subList'][0]['node_action']}';" {if
                            condition="$menu==$item.node_id"
                            }class="is-active" {/if}>
                            <i class="{$item.node_icon}"></i> {$item.node_title}
                        </el-menu-item>
                        {/if}
                        {else}
                            {if condition="count($item.subList)>0 || $item.node_controller=='index'"}
                            <el-menu-item index="{$item.node_id}"
                                onclick="location.href='/{$item.node_module}/{$item.node_controller}/{$item.node_action}';" {if
                                condition="$menu==$item.node_id"
                                }class="is-active" {/if}>
                                <i class="{$item.node_icon}"></i> {$item.node_title}
                            </el-menu-item>
                            {/if}
                        {/if}
                        {/volist}
                    </el-menu>
                </el-col>

                <el-col style="width: 240px;float: right;">
                    <span class="topArea">
                        <el-link :underline="false" class="el-icon-full-screen menuicon" onclick="requestFullScreen()"></el-link>
                        <!-- <el-link :underline="false" class="el-icon-brush menuicon"></el-link> -->
                        <el-dropdown>
                            <el-link :underline="false">&nbsp;{$adminInfo['admin_name']}<i class="el-icon-arrow-down"></i></el-link>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item onclick="location.href='/qfadmin/admin/updatemyinfo';">修改资料
                                </el-dropdown-item>
                                <el-dropdown-item onclick="location.href='/qfadmin/admin/motifypassword';">修改密码
                                </el-dropdown-item>
                                <el-dropdown-item onclick="location.href='/qfadmin/system/clean';">清除缓存
                                </el-dropdown-item>
                                <el-dropdown-item  onclick="logout()">退出登录</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </span>
                </el-col>
            </el-header>
            <el-container class="body">
                {include file="common/menu"/}
                <el-main>