<meta charset="UTF-8">
<!-- import CSS -->
<link rel="stylesheet" href="/static/admin/css/element.css">
<link rel="stylesheet" href="/static/admin/css/YAdmin.css">
</head>

<body>
    <div id="app" v-cloak>
        <el-container>
            <el-header>
                <el-col style="width: auto;">
                    <el-menu class="el-menu-vertical" text-color="#333333" unique-opened
                        style="border:none;" mode="horizontal" active-text-color="#333333">
                        <el-menu-item onclick="location.href='./index.html?meeting_id={$datas.meeting_id??''}'" {if
                                condition="$action=='index'"
                                }class="is-active" {/if}>
                            <i class="el-icon-user-solid"></i> 客户管理
                        </el-menu-item>
                        <el-menu-item onclick="location.href='./team.html?meeting_id={$datas.meeting_id??''}'" {if
                                condition="$action=='team'"
                                }class="is-active" {/if}>
                            <i class="el-icon-s-custom"></i> 团队管理
                        </el-menu-item>
                        <el-menu-item onclick="location.href='./valetor.html?meeting_id={$datas.meeting_id??''}'" {if
                                condition="$action=='valetor'"
                                }class="is-active" {/if}>
                            <i class="el-icon-s-help"></i> 会务人员管理
                        </el-menu-item>
                    </el-menu>
                </el-col>

                <el-col style="width: 240px;float: right;">
                    <span class="topArea">
                        <el-link :underline="false" class="el-icon-full-screen menuicon" onclick="requestFullScreen()"></el-link>
                        <!-- <el-link :underline="false" class="el-icon-brush menuicon"></el-link> -->
                        <el-dropdown>
                            <el-link :underline="false">&nbsp;{$adminInfo['admin_name']}<i class="el-icon-arrow-down"></i></el-link>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item  onclick="logout()">退出登录</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </span>
                </el-col>
            </el-header>
            <el-container class="body">
                {include file="common/menu"/}
                <el-main>