{include file="common/header"}
<meta name="referrer" content="never">
</head>
<body>
    <div class="headBg" style="background-image: url({$config.home_bg});"></div>
    <div id="app" v-cloak>
        {include file="common/head"}
        <div class="homeBox searchBox">
            <div class="box">
                <div class="logoBox">
                    {notempty name="config.logo"}
                    <img class="logo" src="{$config.logo}" alt="{$config.app_description}"></img>
                    {/notempty}
                    {if condition="$config.app_name && $config.app_name_hide!=1"}
                     <span class="title">{$config.app_name}</span>
                    {/if}
                </div>
                {notempty name="config.app_subname"}
                 <div class="subTitle">{$config.app_subname}</div> 
                {/notempty}
                <div class="search">
                    <input type="text" v-model="keyword" placeholder="输入关键字进行搜索" @keyup.enter="searchBtn" confirm-type="search" @confirm="searchBtn">
                    <div class="btn" @click="searchBtn">
                        <i class="iconfont icon-sousuo"></i>
                    </div>
                </div>
            </div>
            <div class="home {if $config.ranking_type != 1}homeNO{/if}">
                {if !empty($newList)}
                <div class="block">
                    <div class="nav">
                         {notempty name="config.home_new_img"}
                        <img src="{$config.home_new_img}" alt="最新更新"></img>
                        {/notempty}
                        最新更新
                    </div>
                    <div class="content">
                        {if $config.ranking_type == 1 } 
                        <div class="list">
                            {volist name="newList" id="vos"}
                            {if condition="strpos($_SERVER['HTTP_USER_AGENT'], 'Mobile') === false || $key < $config.ranking_m_num"}
                            <a href="/d/{$vos.id}.html" target="_blank" class="item">
                                <div class="img">
                                    <img src="{$vos.src}" alt="{$vos.title}" />
                                    <span>Loading...</span>
                                </div>
                                <p>{$vos.title}</p>
                            </a>
                            {/if}
                            {/volist}
                        </div>
                        {else /} 
                        <div class="list">
                            {volist name="newList" id="vos"}
                            {if condition="strpos($_SERVER['HTTP_USER_AGENT'], 'Mobile') === false || $key < $config.ranking_m_num"}
                            <a href="/d/{$vos.id}.html" target="_blank" class="item">
                                <p>
                                    <span>{$key+1}</span>
                                    {$vos.title}
                                </p>
                            </a>
                            {/if}
                            {/volist}
                        </div>
                        {/if}
                        
                    </div>
                </div>
                {/if}
                
                {volist name="hotList" id="vo"}
                <div class="block">
                    <div class="nav">
                        {notempty name="vo.image"}
                        <img src="{$vo.image}" :alt="{$vo.name}">
                        {/notempty}
                        {$vo.name}
                    </div>
                    <div class="content">
                        {if $config.ranking_type == 1 } 
                        <div class="list">
                            {volist name="vo.list" id="vos"}
                            {if condition="strpos($_SERVER['HTTP_USER_AGENT'], 'Mobile') === false || $key < $config.ranking_m_num"}
                            <a href="/s/{$vos.title}.html" target="_blank" class="item">
                                <div class="img">
                                    <img src="{$vos.src}" alt="{$vos.title}" />
                                    <span>Loading...</span>
                                </div>
                                <p>{$vos.title}</p>
                            </a>
                            {/if}
                            {/volist}
                        </div>
                        {else /} 
                        <div class="list">
                            {volist name="vo.list" id="vos"}
                            {if condition="strpos($_SERVER['HTTP_USER_AGENT'], 'Mobile') === false || $key < $config.ranking_m_num"}
                            <a href="/s/{$vos.title}.html" target="_blank" class="item">
                                <p>
                                    <span>{$key+1}</span>
                                    {$vos.title}
                                </p>
                            </a>
                            {/if}
                            {/volist}
                        </div>
                        {/if}
                        
                    </div>
                </div>
                {/volist}
                
                
            </div>
        </div>
        {include file="common/foot"}
    </div>
    {include file="common/footer"}
    <script type="text/javascript" charset="utf-8">
        app.rankList = JSON.parse('<?php echo json_encode($rankList, JSON_UNESCAPED_UNICODE); ?>');
        for (const item of app.rankList) {
            axios.get('/api/tool/ranking',{
                params: {
                  channel: item.name
                }
            })
        }
    </script>
</body>
</html>