{include file="common/header"}
</head>
<body>
    <div class="headBg" style="background-image: url({$config.home_bg});"></div>
    <div id="app" v-cloak>
        {include file="common/head"}
        <div class="searchBox searchList">
            <div class="search">
                 <div class="select" @click="selectBtn">
                    {if condition="$category_id == ''"}全部{/if}
                    {foreach $category as $key=>$vo }
                        {if condition='$category_id == $vo.id'}{$vo.name}{/if}
                    {/foreach}
                    <i class="iconfont icon-xiala" style="font-size: 3vw"></i>
                 </div> 
                <input type="text" v-model="keyword" placeholder="输入关键字进行搜索" @keyup.enter="searchBtn" confirm-type="search" @confirm="searchBtn">
                <div class="btn" @click="searchBtn">
                    <i class="iconfont icon-sousuo"></i>
                </div>
            </div>
        </div>
        <div class="listBox">
            <div class="screen">
                <div class="fixed">
                    <h3>筛选</h3>
                    <div class="box">
                        <a href="/s/{$keyword}.html" class="{eq name="category_id" value=""}active{/eq}">全部</a>
                        {foreach $category as $key=>$vo }
                        <a href="/s/{$keyword}-1-{$vo.id}.html" class="{if condition='$category_id == $vo.id'}active{/if}">{$vo.name}</a>
                        {/foreach}
                    </div>
                </div>
            </div>
            <div class="left">
                <h3 v-if="total_result>0">为您找到【<span>{$keyword}</span>】相关资源<span>&nbsp;{{total_result}}&nbsp;</span>条</h3>
                <h3 v-else>为您找到【<span>{$keyword}</span>】相关资源<span>&nbsp;{$list.total_result}&nbsp;</span>条</h3>
                
                {if condition="$config.is_quan == 1"}
                <div class="Ebox" v-if="QStatus">
                    <div class="Qloading" v-if="QLoading">
                        <div class="loader"></div>
                    </div>
                    <div class="list">
                        <div class="item" v-for="(item,index) in QList" :key="index">
                            <a target="_blank" :href="item.url" class="title">
                                {{item.title}}
                            </a>
                            <div class="type time">30分钟后自动删除，请及时保存</div>
                            <div class="type">
                                <span>来源：网络资源</span>
                            </div>
                            <div class="btns">
                                <div class="btn" @click.stop="copyText($event,item.title,item.url,'')"><i class="iconfont icon-fenxiang1"></i>复制分享</div>
                                <a :href="'/d/'+item.id+'.html'" class="btn"><i class="iconfont icon-fangwen"></i>查看详情</a>
                                <a target="_blank" :href="item.url" class="btn">
                                    <img src="/static/index/images/0.png" class="icon" />
                                    立即访问
                                </a>
                            </div>
                        </div>
                    </div>

                    <block v-if="!QLoading && QList.length==0">
                        <div class="Qtips" v-if="QStatus==1">
                            <p>未找到更多的资源~</p>
                        </div>
                        <el-empty v-else style="margin-top: 10%;padding-bottom: 10%;" :image-size="200" image="{$config.search_bg??''}" description="{$config.search_tips|default='未找到，可换个关键词尝试哦~'}"></el-empty>
                    </block>  
                </div>
                {/if}

                <div class="box" v-if="QStatus!=2">
                    {if condition="$list.total_result>0"}
                    {if condition="$config.is_quan == 1"}
                    <div class="Qbtn">
                        <div class="btn" onclick="getMore()">以下资源不是你想要的？点击尝试获取新资源</div>
                    </div>
                    {/if}
                    <div class="list">
                        {foreach $list.items as $key=>$vo }
                        <div class="item">
                            <a target="_blank" href="{$vo.url}" class="title">
                                {$vo.name|raw}
                            </a>
                            <!-- <div class="type cate">分类：{$vo.category.name|default='其它'}</div> -->
                            <div class="type time">{$vo.times}</div>
                            <div class="type">
                                {if condition="$vo.is_type==1"}
                                <span>来源：阿里云盘</span>
                                {elseif condition="$vo.is_type==2"/}
                                <span>来源：百度网盘</span>
                                {elseif condition="$vo.is_type==3"/}
                                <span>来源：UC网盘</span>
                                {elseif condition="$vo.is_type==4"/}
                                <span>来源：迅雷网盘</span>
                                {else /}
                                <span>来源：夸克网盘</span>
                                {/if}
                                {notempty name="vo.code"}
                                <span>提取码：<span>{$vo.code}</span></span>
                                {/notempty}
                            </div>
                            <div class="btns">
                                <div class="btn" @click.stop="copyText($event,'{$vo.title|trim}','{$vo.url}','{$vo.code}')"><i class="iconfont icon-fenxiang1"></i>复制分享</div>
                                <a href="/d/{$vo.id}.html" class="btn"><i class="iconfont icon-fangwen"></i>查看详情</a>
                                <a target="_blank" href="{$vo.url}" class="btn">
                                    <img src="/static/index/images/{$vo.is_type}.png" class="icon" />
                                    立即访问
                                </a>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <div class="page">
                        {notempty name="list.total_result"}
                        <el-pagination background layout="prev, pager, next" :pager-count="3" :default-current-page="{$page_no}" :default-page-size="{$page_size}" :total="{$list.total_result}" @change="changeBtn"></el-pagination>
                        {/notempty}
                    </div>
                    {else /}
                    <el-empty style="margin-top: 10%;" :image-size="200" image="{$config.search_bg??''}" description="{$config.search_tips|default='未找到，可换个关键词尝试哦~'}"></el-empty>
                    {/if}
                </div>
            </div>
            <div class="right">
                {volist name="hotList" id="vo"}
                    <div class="nav">
                        {notempty name="vo.image"}
                        <img src="{$vo.image}" :alt="{$vo.name}">
                        {/notempty}
                        {$vo.name}
                    </div>
                    <div class="box">
                        <div class="list">
                            {volist name="vo.list" id="vos" length="5"}
                            <a href="/s/{$vos.title}.html" class="item">
                                <p>
                                    <span>{$key+1}</span>
                                    {$vos.title}
                                </p>
                            </a>
                            {/volist}
                        </div>
                    </div>
                {/volist}
            </div>
        </div>
        {include file="common/foot"}
    </div>
    {include file="common/footer"}
    <script type="text/javascript" charset="utf-8">
        app.rankList = JSON.parse('<?php echo json_encode($rankList, JSON_UNESCAPED_UNICODE); ?>');
        for (const item of app.rankList) {
            axios.get('/api/tool/ranking',{
                params: {
                    channel: item.name
                }
            })
        }

        
        var status
        if({$list.total_result} == 0){
            if('{$config.is_quan}' == 1) {
                //默认资源没有直接执行
                status = 2
                app.QStatus = status
                getAll()
            }
        }
        function getMore(){
            if('{$config.is_quan}' == 1){
                status = 1
                app.QStatus = status
                getAll()
            }
        }
        function getAll() {
            if(app.QStatus==0 || app.QLoading || '{$config.is_quan}' != 1) return
            app.QLoading = true
            axios.post('/api/tool/Qsearch',{
                title: app.keyword
            })
                .then(function (res) {
                    app.QLoading = false
                    app.QStatus = status
                    app.QList = res.data.data
                    app.total_result = {$list.total_result} + app.QList.length
                })
                .catch(function (error) {
                    app.QLoading = false;
                    app.QStatus = status
                    app.QList = []
                    app.total_result = {$list.total_result} + app.QList.length
                });
        } 
        
    </script>
</body>
</html>