<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {notempty name="config.app_icon"}
    <link rel="icon" href="{$config.app_icon}" />
    {/notempty}
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0">
    <title>{if condition="isset($detail) && $detail.title"}{$detail.title} - {$config.app_name}{elseif condition="isset($keyword) && $keyword"}{$keyword} - {$config.app_name}{else /}{$config.app_name}{notempty name="$config.app_title"} - {$config.app_title}{/notempty}{/if}</title>
    <meta name="keywords" content="{notempty name="keyword"}{$keyword},{/notempty}{notempty name="detail"}{$detail.title},{/notempty}{$config.app_keywords}" />
    <meta name="description" content="{notempty name="keyword"}{$keyword} - {/notempty}{notempty name="detail"}{$detail.title} - {/notempty}{$config.app_description}" />
    <link rel="stylesheet" href="/static/index/css/index.min.css">
    <link rel="stylesheet" href="/static/index/css/app.css">
    <link rel="stylesheet" href="/static/index/css/m.css">
    
    {$config.seo_statistics|raw}
    
    <style>
        :root {
            --theme-color: {$config.home_color|default='#3e3e3e'};
            --theme-theme: {$config.home_theme|default='#133ab3'};
            --theme-background: {$config.home_background|default='#fafafa'};
            --theme-other_background: {$config.other_background|default='#ffffff'};
        }
        {$config.home_css}
    </style>