<!DOCTYPE html>
<html>
<head>
    <title>后台管理系统</title>
    {include file="common/header"/}
    <div class="homecontainer" style="height: 100%;display: flex;align-items: center;justify-content: center;">
        <div>
            <img src="/static/admin/images/logo@2x.png" alt="">
            <p style="color: #999999;">@资源管理系统</p>
        </div>
    </div>
    {include file="common/footer"/}
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    data: {}
                }
            },
            methods: {
               
            }
        });
    </script>


</html>