<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/uni.25c1f62c.css">

    <meta charset="UTF-8" />
    <script>
      var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') ||
        CSS.supports('top: constant(a)'))
      document.write(
        '<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
        (coverSupport ? ', viewport-fit=cover' : '') + '" />')
    </script>
    <title>心悦搜剧</title>
	<link rel="icon" href="/assets/logo-d44b058e.png" />
	<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
	<script>LA.init({id:"3HsdT1GaTQzE091Y",ck:"3HsdT1GaTQzE091Y",hashMode:true})</script>
    <!--preload-links-->
    <!--app-context-->
    <script type="module" crossorigin src="/assets/index-403326e2.js"></script>
    <link rel="stylesheet" href="/assets/index-9d2187b8.css">
  </head>
  <body>
    <div id="app"><!--app-html--></div>
    
  </body>
</html>
